/* ____________________EXTERNAL_CSS____________________ */
:root{
    --main-color:white;
}
.main{
    
    height: 70%;
    width: 100%;
    text-align: center;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;

}
.overlay{

width: 100%;
height: 100%;
/* background-color: rgba(0, 0, 0, 0.249); */
}
.view_more{
    font-weight: bold;
    padding: 8px 23px;
    font-size: 14px;
    border: 1px solid white;
    color: white;
    width: 9%;
    margin: auto;
    text-transform: uppercase;

}
.view_more:hover{
    background-color: white;
}

.footer-bottom{

    background-color: black;
    color: grey;
}
#webhour{
    text-decoration: none;
    color: grey;
    text-transform: capitalize;
}